<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NewspaperContext" connectionString="data source=10.243.29.11;initial catalog=NewspaperV3Fan;persist security info=True;user id=Emre.Karahan;password=Deneme123;MultipleActiveResultSets=True;App=Desktop" providerName="System.Data.SqlClient" />
    <add name="NewspaperLogContext" connectionString="data source=10.243.29.11;initial catalog=NewspaperPostaLog;persist security info=True;user id=Ozan.Degirmenci;password=943Wk9z4wvGK;MultipleActiveResultSets=True;App=Desktop" />
    <add name="MembershipContext" connectionString="data source=10.243.29.11;initial catalog=Membership;persist security info=True;user id=Ozan.Degirmenci;password=943Wk9z4wvGK;MultipleActiveResultSets=True;App=Desktop" providerName="System.Data.SqlClient" />
    <add name="MembershipLogContext" connectionString="data source=10.243.29.11;initial catalog=MembershipLog;persist security info=True;user id=Ozan.Degirmenci;password=943Wk9z4wvGK;MultipleActiveResultSets=True;App=Desktop" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="pattern" value="../../Pattern.txt"/>
    <add key="log" value="../../Log.txt"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>